.vscode/**
.git/**
.gitignore
.gitattributes
src/**
**/*.ts
**/*.map
tsconfig.json
tsconfig.*.json
npm-debug.log*
package-lock.json
*.vsix
node_modules/.bin/**
node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/doc/**
node_modules/**/docs/**
node_modules/**/example/**
node_modules/**/examples/**
node_modules/**/benchmark/**
node_modules/**/benchmarks/**
